<div class="flex flex-col items-center justify-center mt-2 gap-2">
  <h2 class="font-bold text-center text-2xl mb-4 capitalize text-green-700">
    show task
  </h2>

  <div class="bg-slate-200 w-[60%] p-2 rounded-lg shadow-lg">
    <div class="flex gap-4">
      <img [src]="getImageUrl(task.image)" class="w-38 h-32 rounded-sm" alt="" />
      <div class="flex flex-col justify-center gap-1 cursor-pointer">
        <p class=" font-semibold text-2xl">{{ task.title }}</p>
        <h3 class=" text-slate-500">{{ task.content }}</h3>
        <div class="text-slate-500">{{ task.id }}</div>
      </div>
    </div>
  </div>
</div>
