table {
  border-collapse: collapse;
  width: 100%;
  white-space: nowrap;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100px;
  height: 41px;
  text-overflow: ellipsis;
}
